/* Footer Style */

footer{
    display: grid;
    background-color:#edf6f9;
    color: #343a40;
    gap:0.5rem;
    padding: 4%;
  }
  
  .social_icons{
    display: flex;
    gap: 1.5rem;
    margin-left: 4%;
  }
  
  .footer_list{
    display: flex;
    gap:1rem;
  }
  
  .footer_list_item{
    height: 30px;
  }
  .footer-text{
    margin-left: 3%;
  }
  